[defaults]
inventory = inventory/hosts.yml
roles_path = roles
vault_password_file = .vault_password
host_key_checking = false
retry_files_enabled = false
stdout_callback = yaml

[privilege_escalation]
become = true
become_method = sudo
become_user = root
